#datasets 
About the PHEME dataset:
- contains twitter conversation threads associated to 9 different newsworthy events: Ferguson unrest, shooting at Charlie Hebdo, shooting in ottawa, hostage situation in Sydney, crash of German-wings plane
- 1st annotation: rumor or non-rumor
- 2nd annotation: Rumors labeled as true, false or unverified (**false rumors = fake news**)
- 3rd annotation: subset used for stance classification 
- The five largest events create a more balanced dataset as those are major crisis events during which true updates and false information on different aspects of the event were shared and discussed, whereas the 4 smallest events only contain a single rumour story at the core of the event.![[pheme-dataset.png]]